body{
    font-family: 'Lora', serif;
font-family: 'Open Sans', sans-serif;
}

*{
    margin:0px;
    padding: 0;
    box-sizing: border-box;
 
}
/* banner section from here */


.banner{
    background-color: #E554731A;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    
}
.flower{
    
    width: 50%;
    object-fit: cover;
}
.flower img{
    height: 100%;
}
.banner-content{
    width: 50%;
    margin-left:90px;
    margin-top: 240px;
}

.btn{
    background-color: #E55473;
    color: #FFFFFF;
    border-style: none;
    /* margin: 240px 639px 1509px 147px; */
    padding: 15px 30px ;
    border-radius: 5px;
    /* width: 50; */
}

/* Featured section start's from here */
.featured-section{
    margin-top: 90px;
    text-align: center;
}

.flower-names{
    display: flex;
    margin:50px 150px 90px 150px;
    justify-content: center;
    align-items: baseline;

}
.flower-img{
    border: 10px solid white;
    border-radius: 100px 20px;

}
.bouquet{
   background-color: #0597A026;
   height: 400px;
}
.pink-flower{
    background-color: #A7216226;
    height: 400px;
    padding: 15px 30px 0px 10px;
}
.yellow-flower{
    background-color: #477D1126;
    height: 400px;
}
.name{
    font-size: large;
    text-align: center;
    text-decoration: underline;
}
/* featured section ends here */



/* hot deal section start's here */
.hot-deal{
    background-color: #E554730D;
    display: flex;
    justify-content: space-evenly;
    height: 500px;
    margin-top: 90px;
}
.hot-deal img{
    height: 65%;
    margin-top: 100px;
}
.hot-deal-text{
    text-align: center;
    margin-top: 15%;
}

#discount{
    font-size: 40px;
}

/* hot deal section ends here */

/* insta section start's from here */
.insta{
    text-align: center;
    margin-top: 130px;
    font-size: 19px;
}
.para{
    color: #27272799;
    font-size: 18px;
}

.insta-img1{
    border-radius: 0px 150px  0px 0px   ;
}
.insta-img2{
    border-radius:   0px 0px 130px 150px  ;
}
.insta-img3{
    border-radius: 130px 150px  0px 0px   ;
}
.insta-img4{
    border-radius:  0px  0px 0px 150px  ;
}


.img-container{
    display: flex;
    /* border: 10px red solid; */
    padding: 50px 240px 130px 240px;
    justify-content: space-evenly;
}
.img-container img{
    height: 250px;
    width: 250px; 
    padding-right: 15px;
    /* box-shadow: 20px 20px 20px 20px gray; */
}
/*insta section complete here */

/* latest deal section start's from here */

.latest-deal{
    background-image: url("asset/bg.png");
    margin: 100px;
    height: 400px;
    width: 85%;
    object-fit: cover;
    background-size: cover;
    text-align: center;
    border-radius: 12px;
    margin: auto;
}
.get-deal{
   padding-top: 100px;
}
.signup-btn{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    gap: 15px;
    
}
.deal{
    padding-top: 60px;
    font-size: 22px;
}
.email{
    width: 500px;
    border-radius: 10px;
    padding: 15px;
    margin-top: 0px;
}


/* latest deal section end's here  */

/* option section start's from here */
.option-container{
    display: flex;
    background-color: #2727270D;
    height:300px ;
    margin: 80px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    border-radius: 15px;
}

/* option section end's here */


/* footer section start's from here */

footer{
    margin-top: 130px;
    height: 550px;
    width: 100%;
    color: white;
    background-color: rgb(44,63,70);
}
#flower-text{
    color: #E55473;
    font-size: 35px;
}
#shop-text{
    color: #FFFFFF;
    font-size: 35px;
}
.footer{
    text-align: center;
    justify-content: center;
    padding: 150px;
}
.feedback-btn{
    display: flex;
    gap: 30px;
    height: 50px;
    align-items: center;
    justify-content: center;
}
.footer-btn{
    height: 60px;
    width: 150px;
   display: flex;
   align-items: center;
    justify-content: center;
    padding: 9px;
    border-radius: 7px;
    background-color:#db6982;
    border-style: none;
}
.copyright{
    color: #ebdade;
    margin-top: 100px;
}
/* complete */