body{
    font-family: 'Lora', serif;
font-family: 'Open Sans', sans-serif;
}

*{
    margin:0px;
    padding: 0;
    box-sizing: border-box;
 
}
.size{
    font-size: 21px;
}

/* banner section from here */


.banner{
    background-color: #E554731A;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    
}
#shop-name{
    font-size: 35px;
}
#pushpo{
    color: rgba(255, 0, 0, 0.819);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#shop{
    color: rgba(0, 0, 255, 0.707);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
.flower{
    
    width: 50%;
    object-fit: cover;
}
.flower img{
    height: 100%;
}
.banner-content{
    width: 50%;
    margin-left:90px;
    margin-top: 240px;
}

.btn{
    background-color: #E55473;
    color: #FFFFFF;
    border-style: none;
    /* margin: 240px 639px 1509px 147px; */
    padding: 15px 30px ;
    border-radius: 5px;
    /* width: 50; */
}
.btn:hover{
    cursor: pointer;
}

/* Featured section start's from here */
.featured-section{
    margin-top: 90px;
    text-align: center;
}

.flower-names{
    display: flex;
    margin:50px 150px 90px 150px;
    justify-content: center;
    align-items: baseline;

}
.flower-img{
    border: 10px solid white;
    border-radius: 200px 200px 2px 2px;

}
.bouquet{
   background-color: #0597A026;
   height: 400px;
}
.pink-flower{
    background-color: #A7216226;
    height: 400px;
    padding: 15px 30px 0px 10px;
}
.yellow-flower{
    background-color: #477D1126;
    height: 400px;
}
.name{
    font-size: large;
    text-align: center;
    text-decoration: underline;
}
/* featured section ends here */



/* hot deal section start's here */
.hot-deal{
    background-color: #E554730D;
    display: flex;
    justify-content: space-evenly;
    height: 500px;
    margin-top: 90px;
}
.hot-deal img{
    height: 65%;
    margin-top: 100px;
}
.hot-deal-text{
    text-align: center;
    margin-top: 15%;
}

#discount{
    font-size: 40px;
}

/* hot deal section ends here */

/* insta section start's from here */
.insta{
    text-align: center;
    margin-top: 130px;
    font-size: 19px;
}
.para{
    color: #27272799;
    font-size: 18px;
}
.para:hover{
    color: darkmagenta;
}

/* .insta-img1{
    border-radius: 0px 150px  0px 0px   ;
}
.insta-img2{
    border-radius:   0px 0px 130px 150px  ;
}
.insta-img3{
    border-radius: 130px 150px  0px 0px   ;
}
.insta-img4{
    border-radius:  0px  0px 0px 150px  ;
} */


.img-container{
    display: flex;
    /* border: 10px red solid; */
    padding: 50px 240px 130px 240px;
    justify-content: space-evenly;
}
.img-container img{
    height: 250px;
    width: 250px; 
    padding-right: 15px;
    /* box-shadow: 20px 20px 20px 20px gray; */
}
/*insta section complete here */

/* categories section start's from here */
.products-head{
    text-align: center;
    color: rgb(80, 44, 223);
    margin-bottom: 70px;
    font-size: 28px;
}
.products-head:hover{
    color: red;
}
.products{
    height: 100vh;
   
}
.product-flowers{
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 90px;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

.product-flowers img{
    height: 350px;
    width: 100%;
    justify-content: space-around;
    
    
    /* margin: 30px 2px 200px 250px; */
    align-items: center;
}
.flower{
    padding: 10px;
    /* margin: 20px 50px; */
}
.flower1{
    background-color: #9bE8CA;
    border-radius: 0px 150px  0px 0px   ;
    /* margin-left: 200px; */
}
.flower2{
    border-radius:   10px 10px 130px 150px  ;
    background-color: #E55473;
}
.flower3{
    background-color: #ebdade;
    border-radius: 130px 150px  10px 10px   ;

}
.flower4{
    background-color: #6D6F71;
    border-radius: 150px 0px  0px 0px ;
}
.see-all{
    color: white;
    /* text-align: center;
    justify-content: center; */
    margin-left: 500px;
    margin-bottom: 50px;
}

/* categories section end's here  */

/* latest deal section start's from here */

.latest-deal{
    background-image: url("asset/bg.png");
    margin: 60px;
    height: 400px;
    width: 85%;
    object-fit: cover;
    background-size: cover;
    text-align: center;
    border-radius: 12px;
}
.get-deal{
   padding-top: 100px;
}
.signup-btn{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    gap: 15px;
}
.btn:hover{
    background-color: rebeccapurple;
}
.deal{
    padding-top: 60px;
    font-size: 22px;
}
.email{
    width: 500px;
    border-radius: 10px;
    padding: 15px;
    margin-top: 0px;
    border-style: none;
}


/* latest deal section end's here  */

/* option section start's from here */
.option-container{
    display: flex;
    background-color: #2727270D;
    height:300px ;
    margin: 80px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    border-radius: 15px;
}

/* option section end's here */


/* footer section start's from here */

footer{
    margin-top: 130px;
    height: 550px;
    width: 100%;
    color: white;
    background-color: rgb(44,63,70);
}
#flower-text{
    color: #E55473;
    font-size: 35px;
}
#shop-text{
    color: #FFFFFF;
    font-size: 35px;
}
.footer{
    text-align: center;
    justify-content: center;
    padding: 150px;
}
.feedback-btn{
    display: flex;
    gap: 30px;
    height: 50px;
    align-items: center;
    justify-content: center;
}
.feedback-btn:hover{
   color: blue;
}
.footer-btn{
    height: 60px;
    width: 150px;
   display: flex;
   align-items: center;
    justify-content: center;
    padding: 9px;
    border-radius: 7px;
    background-color:#db6982;
    border-style: none;
}
.social-btn{
    font-size: 17px;
}
.copyright{
    color: #ebdade;
    margin-top: 100px;
}
/* complete */